.navbar li {
	display: inline-block;
	margin-right: 5px;
	font-family: Arial, sans-serif;
}

.navbar ul {
	float: right;
	margin-right: 2%;
}


.nav li {
  display: inline;
}

.input {
	width: 600px;
	height: 20px;
	margin: 10px 335px;
	clear: both;
}

.button {
	width: 150px;
	display: inline;
	text-align: center;	
}

#lucky {
	position: absolute;
	left: 52%;
}

#search {
	position: absolute;
	left: 38%;
}

.main img {
	width: 287px;
	height: 100px;
	margin: 110px 450px 0px 500px;
}

footer {
	width: 100%;
    height: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #EBEBEB;
}

